* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish';
  color: #444349;
}

.tagline, .date, h3, .gift p, .contact p {
  font-family: 'Libre Baskerville';
}

.headline, .program, .faq {
  color: #d2ba87;
}

.dark-background, .program, .faq {
  background: hsla(100,0%,0%,.6);
}

/* ==== HEADER STYLE ====*/

.cover {
  background: url(./assets/wedding-landing-cover.jpg) no-repeat 70% center ;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: hsla(0,0%,100%,.7);
  text-align: center;
  display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.date {
  font-size: 1.25rem;
}

.date::after, .date::before {
  display: inline-block;
  width: 1rem;
  vertical-align: middle;
  margin: 0rem .5rem;
}

.dark-background {
  margin: 0 auto;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.tagline {
  padding: .5rem 2rem;
  letter-spacing: .1rem;
  font-variant: small-caps;
  line-height: 1.5rem;
  font-size: 2rem;
}

.tagline::after {
  display: block;
  width: 13rem;
  background:white;
  margin: .5rem auto;
}

.tagline::after, .date::after, .date::before {
  height: 1px;
  background:white;
  content: "";
}

.headline {
  font-size: 3rem;
  margin: 2rem 0;
  font-family: 'Great Vibes';
}

@media (min-width: 768px) {
  .dark-background {
    margin: 0 auto;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .headline {
    font-size: 7rem;
  }
}

/* ==== FOOTER STYLES ==== */

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 50px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  text-align: center;
  display: table;
  background: #606060;
  font-size: 1rem;
  color: hsla(0,0%,100%,.7);
}

 a{
  text-decoration: none;
  color: #bd806e;
}

 a:hover {
  color: #eda087;
}

.footer {
  display: table-cell;
  vertical-align: middle;
}

/* ==== MAIN STYLES ====*/

main {
  background: url(./assets/wedding-landing-background.png) no-repeat center;
  background-size: cover;
  line-height: 1.5rem;
}

.locations, .program, .gift, .faq, .contact {
  width: 90%;
  margin: 0 auto;
  padding: .5rem 1rem;
  text-align: center;
}


 img {
  height: 8rem;
}

h2 {
  margin-top: 1.5rem;
  font-size: 3rem;
  font-family: 'Great Vibes';
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2, h3, img, .program div, p {
  margin-bottom: 1.5rem;
}

.info::after {
  content: "";
  margin: 1.5rem auto;
  background: #444349;
  height: .2rem;
  width: 25vw;
  display: block;
}

.program, .faq {
  width: 100%;
}

.program ul, .question, .anwser  {
  text-align: left;
}

.program p {
  font-style: italic;
}

.group {
  line-height: 1rem;
}

.group::after {
  content: "";
  margin: 1.5rem auto;
  background: #d2ba87;;
  height: .2rem;
  width: 25vw;
  display: block;
}

.question {
  font-weight: bolder;
  line-height: 1rem;
}


@media (min-width: 768px) {
  
  .info  {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    padding: .5rem 1rem;
  }

  .info::after, .group::after {
    display: none;
  }

  .p-wrapper {
    width: 30vw;
    margin: 0 auto;
}

  .group {
    display: inline-block;
    width: 30%;
    margin: .5rem;
    padding: 1.5rem;
    vertical-align: top;
  }

}